<div class="flex flex-col mb-3 py-2 px-3 border border-gray-300 rounded-md group hover:shadow-md">
  <div class="text-lg hover:text-gray-600">
    <%= question.title %>
  </div>
  <div class="ml-auto flex flex-row">
    <div class="text-gray-400 text-sm">
      <% if question.anonymous? %>
        Submitted anonymously on <%= question.created_at.to_formatted_s(:short) %>
      <% else %>
        Submitted by: <span class="text-blue-400 hover:text-gray-600"><%= link_to question.user.email, user_path %></span> on <%= question.created_at.to_formatted_s(:short) %>
      <% end %>
    </div>
  </div>
</div>