<h1 class="mb-3">All Events</h1>

<% @events.each do |event| %>
<div class="mb-3">
  <%= render @events %>
</div>
<% end %>

<%= link_to "Create a New Event", new_event_path, class: 'btn btn-primary' %>