<h1 class="mb-3 text-4xl"><%= @event.name %></h1>

<% if @event.questions.any? %>
  <div class="border border-gray-400 p-2 rounded-md mb-3">
    <h2 class="mb-3 flex flex-col text-2xl px-6">
      Submitted Questions
    </h2>
    <div class="px-6">
      <div class="flex flex-col">
        <%= render @event.questions %>
      </div>
    </div>  
  </div>
<% end %>

<div class="border border-gray-400 p-2 rounded-md mb-3">
  <h2 class="mb-3 text-2xl">Submit a Question:</h2>
  <%= render 'questions/form', question: @event.questions.build %>
</div>